body {
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.wheel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wheel-wrapper .wheel {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
}

.wheel-wrapper .pointer {
  position: absolute;
  top: -25px;
  -webkit-transform-origin: 50% 35%;
          transform-origin: 50% 35%;
  z-index: 2;
}

.wheel-wrapper .pointer.pointer-swing {
  -webkit-animation: pointer-swing 3s .8s infinite forwards;
          animation: pointer-swing 3s .8s infinite forwards;
}

.wheel-wrapper .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.play-button {
  margin-top: 50px;
  width: 280px;
  height: 48px;
  border: none;
  background: #2196F3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
}

.play-button[disabled] {
  cursor: default;
}

.confetti {
  position: absolute;
  inset: 0;
  z-index: 5;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.confetti.active {
  display: block;
}

@-webkit-keyframes pointer-swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  40% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes pointer-swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  40% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
