html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown {
  border: 1px solid #e7ebed;
  border-radius: 4px;
  padding: 3px 15px 3px 12px;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff;
  color: #2d2d2d;
  gap: 10px;
}

.dropdown:hover {
  background: #f1f3f4;
}

.dropdown.active {
  background: #e7ebed;
}

.wrap {
  display: flex;
  align-items: center;
  margin-top: 2px;
}


.arrow {
  width: 3px;
  height: 1.5rem;
  display: inline-block;
  position: relative;
}

.arrow span {
  top: 0.5rem;
  position: absolute;
  width: 7px;
  height: 1.5px;
  background-color: #3a4850;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 25px;
}

.arrow span:first-of-type {
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow span:last-of-type {
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown.active .arrow span:first-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown.active .arrow span:last-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
