:root {
  --max-width: 100%;
  --side-space: 16px;
  --slider-gap: 8px;
  --cod-gray: #0F0F0F;
  --foam: #F4FAFE;
  --dodger-blue: #2196F3;
  --nevada: #5B6971;
  --outer-space: #232B30;
}

@media (min-width: 768px) {
  :root {
    --max-width: 730px;
    --side-space: 40px;
    --slider-gap: 24px;
  }
}

@media (min-width: 1024px) {
  :root {
    --max-width: 936px;
    --side-space: 44px;
  }
}

@media (min-width: 1280px) {
  :root {
    --max-width: 1164px;
    --side-space: 0;
  }
}

@media (min-width: 1440px) {
  :root {
    --max-width: 1296px;
  }
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body img {
  max-width: 100%;
}

.slider-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1F3F4;
}

@media (min-width: 1024px) {
  .slider-gallery {
    height: 100vh;
    z-index: 10;
    background-color: #ffffff;
  }
}

.slider-gallery .header {
  margin-bottom: 15px;
  margin-left: var(--side-space);
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #020621;
}

@media (min-width: 1024px) {
  .slider-gallery .header {
    font-size: 36px;
    line-height: 42px;
    color: #B8C4CB;
    text-transform: uppercase;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    margin: 0;
    margin-top: auto;
    padding-left: 56px;
    min-width: 222px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.slider-gallery .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider-gallery .gallery::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .slider-gallery .gallery {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
}

@media (min-width: 1280px) {
  .slider-gallery .gallery {
    overflow: visible;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.slider-gallery .gallery .img-wrapper:not(.header) {
  position: relative;
}

.slider-gallery .gallery .img-wrapper:not(.header):first-child {
  margin-left: var(--side-space);
}

.slider-gallery .gallery .img-wrapper:not(.header):last-child {
  margin-right: var(--side-space);
}

.slider-gallery .gallery .img-wrapper:not(.header):hover svg {
  margin-right: 6px;
}

.slider-gallery .gallery .img-wrapper:not(.header):hover .text {
  width: 71px;
  margin-right: 12px;
}

@media (min-width: 1024px) {
  .slider-gallery .gallery .img-wrapper:not(.header) {
    -webkit-animation: skeleton 2s infinite;
            animation: skeleton 2s infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  @-webkit-keyframes skeleton {
    0% {
      background: #f8f8f8;
    }
    50% {
      background: #f1f1f1;
    }
    100% {
      background: #f8f8f8;
    }
  }
  @keyframes skeleton {
    0% {
      background: #f8f8f8;
    }
    50% {
      background: #f1f1f1;
    }
    100% {
      background: #f8f8f8;
    }
  }
}

@media (min-width: 1280px) {
  .slider-gallery .gallery .img-wrapper:not(.header) {
    min-width: 526px;
    width: 526px;
  }
  .slider-gallery .gallery .img-wrapper:not(.header):first-child {
    margin-left: 40px;
  }
  .slider-gallery .gallery .img-wrapper:not(.header):last-child {
    margin-right: 40px;
  }
}

.slider-gallery .gallery img {
  width: calc(100vw - 28px - var(--side-space));
  max-width: 95vw;
  height: 100%;
}

@media (min-width: 768px) {
  .slider-gallery .gallery img {
    width: calc(100vw - 40px - var(--side-space));
  }
}

@media (min-width: 1024px) {
  .slider-gallery .gallery img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.slider-gallery .gallery .view-frame {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 6px 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.199383);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.199383);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-gallery .gallery .view-frame svg {
  margin-left: 12px;
  margin-right: 12px;
}

.slider-gallery .gallery .view-frame .text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.firstContainer,
.lastContainer {
  width: 100vw;
  height: 100vh;
  background: hotPink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 900;
  font-size: 5rem;
}

.lastContainer {
  background: lightBlue;
}
