:root {
  --small-turtle-size: 84px;
  --big-turtle-size: 136px;
  --turtle-border-size: 146px;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
}

.save {
  font-family: "Roboto";
  position: relative;
}
.save:hover .tortoise-circle {
  transform: scale(1);
}
.save .card {
  background: #F8F8F8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 32px 52px;
}
.save .title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 18px;
}
.save .about {
  font-size: 14px;
}
.save .title,
.save .about {
  line-height: 21px;
  text-align: center;
  color: #3A4850;
}
.save .frame {
  width: 526px;
  height: 263px;
  margin-top: -22px;
  mix-blend-mode: multiply;
}
.save .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0F0F0F;
  width: 127px;
  height: 40px;
  border: 1px solid #0F0F0F;
  border-radius: 24px;
  margin-bottom: 32px;
  cursor: pointer;
  transition: all 0.15s;
}
.save .button:hover {
  background-color: #0F0F0F;
  color: #FFFFFF;
}
.save .footer {
  border-top: 1px solid #DBE1E5;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.save .footer-about {
  display: flex;
  align-items: center;
}
.save .footer-about:first-child {
  border-right: 1px solid #DBE1E5;
  margin-right: 20px;
  padding-right: 20px;
}
.save .footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #89959C;
  margin-left: 10px;
  margin-right: 8px;
}
.save .footer-info {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #89959C;
}
.save .tortoise-circle {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #89959C;
  position: absolute;
  top: -50px;
  right: -50px;
  transform: scale(0);
  transition: transform 0.22s ease;
}
.save .tortoise-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: var(--small-turtle-size);
  height: var(--small-turtle-size);
  opacity: 0;
  border: 1px solid #3A4850;
  border-radius: 50%;
  transition: all 0.18s;
}
.save .tortoise-circle:hover::after {
  content: "";
  opacity: 1;
  width: var(--turtle-border-size);
  height: var(--turtle-border-size);
}
.save .tortoise-circle:hover .turtle {
  width: var(--big-turtle-size);
  height: var(--big-turtle-size);
}
.save .turtle {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: var(--small-turtle-size);
  height: var(--small-turtle-size);
  z-index: 2;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 4px 12px -1px rgba(0, 0, 0, 0.05), 0px 1px 4px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transition: all 0.32s cubic-bezier(0.65, 0.65, 0, 1);
}
.save .text {
  position: relative;
  z-index: 1;
  animation: spin 10s linear infinite forwards;
  margin-bottom: -5px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */